*::-webkit-scrollbar {
	width: 1.2rem;
}

*::-webkit-scrollbar-track {
	background: #f1e9e9;
}

*::-webkit-scrollbar-thumb {
	background-color: #582965;
	border-radius: 1rem;
	border: 3px solid #ffffff;
}